{
  "extends": [
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    "indent": ["error", 4],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "quote-props": ["error", "as-needed"],
    "comma-dangle": ["error", "always-multiline"],
    "no-trailing-spaces": ["error"],
    "eol-last": ["error", "always"]
  }
}