@use '../styles/breakpoints' as breakpoint;
@use '../styles/colors' as color;

.title {
    @include breakpoint.font-size(breakpoint.$title-font-sizes);
    color: color.$highlight-main;
    margin-bottom: 0px;
}

.subtitle {
    @include breakpoint.font-size(breakpoint.$subtitle-font-sizes);
}