@use '../styles/colors' as color;
@use '../styles/transitions' as transition;
/* .footerContent ul {
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: center;
}

.footerContent li {
    display: inline;
    font-size: 1rem;
} */

.footerBox {
    height: 50px;
    bottom: 0;
    margin-top: 50px;
    border-top: 2px solid color.$highlight-sub;
    color: color.$highlight-sub;
    background-color: white;
}

.footerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}
.footerFlex span a {
    transition: 0.2s ease, padding 0.8s linear;
}

.footerFlex span a:hover {
    cursor: pointer;
    color: color.$highlight-main;
}
