@use '../styles/colors' as color;
@use '../styles/transitions' as transition;
/* .footerContent ul {
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: center;
}

.footerContent li {
    display: inline;
    font-size: 1rem;
} */
.footerBox {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid color.$highlight-sub;
    color: color.$highlight-sub;
    background-color: color.$black-1;
    z-index: 0;
}

.footerFlex {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    
}
.footerFlex span a {
    transition: 0.2s ease,padding 0.8s linear;;
}

.footerFlex span a:hover {
    cursor: pointer;
    color: color.$highlight-main;
}
