@use '../styles/colors.scss' as color;
@use '../styles/transitions.scss' as transition;
@use '../styles/breakpoints.scss' as breakpoint;

.smallDisplay {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    margin-right: 10px;
    margin-top: 20px;
    background-color: white;
    z-index: 2;
}


.overlay {
    height: 100;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: color.$highlight-sub;
    z-index: 1;
}

.overlay ol {
    margin-left: -25px;
    list-style: none;
}

@media screen and (min-width: breakpoint.$laptop) {
    .overlay {
        display: none;
    }
}

@media screen and (min-width: breakpoint.$laptop) {
    .smallDisplay {
        display: none;
    }
}

@media screen and (max-width: breakpoint.$laptop) {
    .navDisplay {
        display: none;
    }
}

.navWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transition: transition.$standard;
}

@media screen and (min-width: breakpoint.$laptop) {
    .navWrapper {
        background-color: color.$white-1;
        color: color.$highlight-sub;
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        top: 0;
        z-index: 1;
    }

    .navWrapper .navDisplay ol {
        list-style: none;
        margin-right: 15px;
    }

    .navWrapper .navDisplay ol li {
        display: inline;
        margin-left: 10px;
    }
}