@use '../styles/colors.scss' as color;
@use '../styles/transitions.scss' as transition;

.box {
    border: 2px solid color.$highlight-sub;
    background: color.$black-1;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    transition: transition.$standard;
}

.box p {
    transition: transition.$standard;
}

.box:hover {
    border: 2px solid color.$highlight-main;
    // border-right: 0px;
    // width: 50vw;
}

.box .highlight {
    color: color.$highlight-sub;
    transition: transition.$standard;
}

.box:hover .highlight {
    color: color.$highlight-main;
}

.box:hover p {
    color: color.$white-1;
}

a.clickableDiv{
    display: block;
    text-decoration: none;
}