@use '../styles/breakpoints' as breakpoint;
@use '../styles/colors' as color;

@use './Font.module.scss';

.mirror {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.profileContainer {
    width: 25vw;
    background: linear-gradient(90deg, color.$highlight-main 0%, color.$highlight-sub 100%);
    padding: 2px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.profile {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    // box-shadow: 5px 5px color.$highlight-sub;
}

.profileTitle {
    @include breakpoint.font-size(breakpoint.$title-font-sizes);
    color: color.$highlight-main;
    // text-shadow: 5px 5px color.$highlight-sub;
    margin-top: 0;
    margin-bottom: 0;
}

.flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// .shortcuts {
//     color: color.$white-1;
// }
