@use '../styles/colors.scss' as color;
@use '../styles/transitions.scss' as transition;

@use './Font.module.scss';

.subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
    color: color.$highlight-main;
}

.lightbox {
    color: color.$highlight-sub;
    text-decoration: underline;
    transition: transition.$standard;
}

.lightbox:hover {
    color: color.$highlight-main;
    cursor: pointer;
}