$breakpoints: (
    "phone": 576px,
    "tablet": 768px,
    "laptop": 992px,
    "desktop": 1200px,
);

// @mixin respond-to($breakpoint) {
//     @if map-has-key($breakpoints, $breakpoint) {
//         @media #{inspect(map-get($breakpoints, $breakpoint))} {
//             @content;
//         }
//     }
// }

$title-font-sizes: (
    "phone": 100px,
    "tablet": 150px,
    "laptop": 175px,
    "desktop": 200px,
);

$subtitle-font-sizes: (
    "phone": 50px,
    "tablet": 100px,
    "laptop": 125px,
    "desktop": 150px,
);

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint == null {
            font-size: $fs-font-size;
        } @else {
            // If $fs-font-size is a key that exists in
            // $fs-breakpoints, use the value
            @if map-has-key($fs-breakpoints, $fs-breakpoint) {
                $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
            }
            @media screen and (min-width: $fs-breakpoint) {
                font-size: $fs-font-size;
            }
        }
    }
}
