@use './colors.scss' as color;
@use './transitions.scss' as transition;

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: color.$white-2;
}

::-webkit-scrollbar-thumb {
  background: color.$highlight-sub;
  transition: transition.$scrollbar;
}

::-webkit-scrollbar-thumb:hover {
  background: color.$highlight-main;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: color.$white-2;
}

main {
  // height: 100vh;
  // overflow-y: scroll;
  // scroll-snap-type: y mandatory;
  // position: relative;
  scroll-behavior: smooth;
  padding-left: 10px;
  padding-right: 10px;
}

section {
  // scroll-snap-align: center;
  // align-items: center;
  // height: 100vh;
  // width: 100%;
  // margin: 0;
}

h1,
h2 {
  z-index: 1;
}

p {
  color: color.$white-2;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: color.$highlight-sub; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

hr {
  color: color.$highlight-sub;
  opacity: 20%;
}

canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: color.$black-1 !important;
  opacity: 40%;
  z-index: -1;
}