@use './colors.scss' as color;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: color.$white-2;
}

h1,
h2 {
  color: color.$highlight-sub;
  z-index: 1;
}

p {
  color: color.$white-2;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: color.$black-1;
  z-index: -1;
}