@use './colors.scss' as color;
@use './transitions.scss' as transition;
@use './breakpoints.scss' as breakpoint;

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

// ::-webkit-scrollbar-track {
//   background: color.$white-2;
// }

::-webkit-scrollbar-thumb {
  background: color.$highlight-sub;
  transition: transition.$scrollbar;
}

::-webkit-scrollbar-thumb:hover {
  background: color.$highlight-main;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Exo";
  src: url("/fonts/Exo-VariableFont_wght.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: color.$white-2;
}

main {
  //   // height: 100vh;
  //   // overflow-y: scroll;
  //   // scroll-snap-type: y mandatory;
  //   // position: relative;
  //   scroll-behavior: smooth;
  padding-left: 10px;
  padding-right: 10px;
}

section {
  margin-bottom: 2vh;
  // scroll-snap-align: center;
  // align-items: center;
  // height: 100vh;
  // width: 100%;
  // margin: 0;
}

h1,
h2,
h3 {
  font-family: "Exo";
  z-index: 1;
}

h2 {
  margin-top: 0px;
}

@media screen and (max-width: breakpoint.$phone) {
  h1,
  h2,
  h3 {
    text-shadow: 1px 1px color.$highlight-sub;
  }
}

@media screen and (min-width: breakpoint.$phone) {
  h1,
  h2,
  h3 {
    text-shadow: 2px 2px color.$highlight-sub;
  }
}

@media screen and (min-width: breakpoint.$desktop) {
  h1,
  h2,
  h3 {
    text-shadow: 5px 5px color.$highlight-sub;
  }
}

p,
li,
span,
a {
  font-family: "Open Sans";
}

p {
  color: color.$white-2;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: color.$highlight-sub; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

hr {
  background-color: color.$highlight-sub;
  height: 1px;
  border: none;
  opacity: 20%;
}

canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 30%;
  z-index: -1;
}
