@use './colors.scss' as color;

.centerTitle {
    text-align: center;
}

.centerScreen {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.fullWidth {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.quarterWidth {
    width: 25vw;
}

.fullHeight {
    height: 100vh;
    z-index: -2;
}

.col2Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexGap {
    margin-left: 10px;
    margin-right: 10px;
}

.noMargin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.highlight {
    color: color.$white-1;
}