.centerText {
    text-align: center;
}

.centerScreen {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.fullWidth {
    width: 100%;
}

.quarterWidth {
    width: 25vw;
}

.fullHeight {
    height: 100vh;
    z-index: -2;
}

.col2Flex {
    display: flex;
    justify-content: space-evenly;
  }
  